.vid {
  display: none;
}

@media screen and (max-width: 1000px) {
  .vid {
    display: flex;
    position: relative;
    text-align: center;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  display: table;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 50%;
  width: 16rem;
  height: 3rem;
  font-size: 1.2rem;
  background-color: #55cfc6;
  z-index: 1;
  font-weight: bold;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}
